@media print {
  @page {
    size: landscape;
    margin: 10mm;
  }

  body {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  .print\:hidden {
    display: none !important;
  }

  .print\:p-0 {
    padding: 0 !important;
  }

  .print\:border-none {
    border: none !important;
  }
}
